@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0; padding: 0;
    font-family: "Plus Jakarta Sans", system-ui;
    box-sizing: border-box;
}

body {
    margin: 0; padding: 0;
    padding-bottom: 2rem;
}

.header-container {
    width: 100%;
    min-height: 65vh;
    background-color: #766674;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-background-img {
    width: 100%;
    height: 65vh;
    background-image: url(../assets/images/pattern.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.logo {
    width: 4.4rem;
    margin-bottom: 5rem;
    padding-top: 2rem;
}

h1 {
    color: #fcf6fa;
    font-size: 3rem;
    margin-bottom: 2rem;
}

p {
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 11rem;
    text-align: left;
    font-weight: 300;
}

.phrase {
    color: #f9d1ff;
    font-weight: 600;
}

.projects {
    margin-top: -3.9rem;
    display: flex;
    justify-content: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.projects .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 80%;

}

.projects .box .column {
    flex: 1;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    width: 32.5%;

}

.projects .box .column img {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: .2rem;

}

/* Media Queries */

@media only screen and (max-width:769px) {
    .projects .box {
        flex-direction: column;
    }

    .projects .box .column {
        width: 100%;
    }
}

/* For devices with a width of 1200px or more (desktops) */
@media (min-width: 1200px) {
    .header-container {
        min-height: 70vh;
    }

    h1 {
        font-size: 4rem;
    }

    p {
        font-size: 1.3rem;
    }

}

/* For tablets and medium screens (600px to 1200px) */
@media (max-width: 1200px) and (min-width: 600px) {
    .header-container {
        min-height: 60vh;
    }

    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1rem;
        margin-bottom: 8rem;
        text-align: center;
    }

}

/* For mobile devices (max-width: 600px) */
@media (max-width: 600px) {
    .header-container {
        min-height: 50vh;
    }

    .logo {
        width: 15%; /* Larger logo for smaller screens */
    }

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 0.9rem;
        margin-bottom: 5rem;
        text-align: center;
    }

}



